.tags {
    margin-bottom: 10px;
}

.tags .tag {
    text-align: center;
   display: inline-block;
   margin-right: 5px;
   font-size: 13px;
}

.tag .close {
   font-size: 14px;
   margin-left: 5px;
}

