#entity-manager-container {
    margin-bottom: 50px;
}

#inbox {
    margin-top: 20px;
}

#entity-manager-heading {
    margin-bottom: 20px;
}

#graphs-container {
    margin-bottom: 20px;
}

#selectors-container {
    text-align: center;
    margin-bottom: 20px;
}

#graph-container {
    text-align: center;
}