{% extends 'base.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'twitter_services/style_base.css' %}" />

{% block Title %}
    <title>TwitterRep: {{ entity }}</title>
{% endblock %}

{% block Header %}
    <h1>TwitterRep: {{ entity }}</h1>
{% endblock %}

{% block Sub-header %}
    <div>
        {% if dimension_list %}
        <ul>
            {% for dimension in dimension_list %}
                    <li><a href='#'><span>{{ dimension }}</span></a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}