{% load staticfiles %}
<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>
        <script type="text/javascript" src="{% static 'js/graphs/graphs.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/graphs.css' %}">
    </head>

    <body>
        <div id="line-chart"></div>
        <div id="bar-chart"></div>
    </body>
</html>

<script>
    {% if chart == 'bar' %}
    draw_bar_charts({{  date_time_list | safe }}, {{ tweets_count_list }}, {{ negative_count_list }},
            "Tweet count for {{ entity }}{% if dimension %}'s {{ dimension }} {% endif %}");
    {% else %}
    draw_line_charts({{ date_time_list | safe }}, {{ reputation_scores }},
            "Reputation score for {{ entity }}{% if dimension %}'s {{ dimension }} {% endif %}");
    {% endif %}
</script>