{% if tweets_json %}
        {% for tweet in tweets_json %}
            <div>
                <img id="avatar_{{ forloop.counter }}" src="">
                <h4 id="user_screen_name_{{ forloop.counter }}"></h4>
                <h5 id="created_at_{{ forloop.counter }}"></h5>
                <div id="text_{{ forloop.counter }}"></div>
            </div>

            <script>
                var tweet = JSON.parse({{tweet|safe}});
                document.getElementById("avatar_{{ forloop.counter }}")
                        .setAttribute('src', tweet['user']['profile_image_url']);
                document.getElementById("text_{{ forloop.counter }}").innerHTML = tweet['text'];
                document.getElementById("created_at_{{ forloop.counter }}").innerHTML = tweet['created_at'];
                document.getElementById("user_screen_name_{{ forloop.counter }}").innerHTML = tweet['user']['screen_name'];
                console.log(tweet['text']);
            </script>
        {% endfor %}
{% else %}
    <p>No tweets are available</p>
{% endif %}
