{% extends 'base.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'twitter_services/style_base.css' %}" />

{% block Title %}
    <title>TwitterRep: {{ entity }} {% if Dimension %}Dimension: {{ Dimension }} {% endif %}</title>
    <div id="test"></div>
{% endblock %}

{% block Header %}
    <h1>TwitterRep: {{ entity }} {% if Dimension %}Dimension: {{ Dimension }} {% endif %}</h1>
{% endblock %}

{% block Sub-header %}
    <div>
        {% if dimension_list %}
        <ul>
            {% for dimension in dimension_list %}
                    <li><a href='{% url 'twitter_services:tweets_filtered_entity_dimension' entity dimension %}'>
                        <span>{{ dimension }}</span></a></li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
{% endblock %}

<script src="{% static 'js/jquery-1.12.0.min.js' %}">
    $.ajax({
        url: 'user_handle/login/',
        success: function(data){
            $('#test').html(data)
        }
    });
        window.alert('Hello?')
    document.getElementById("test").innerHTML = 'Hello'
</script>