{% extends 'tweet_base_display.html' %}
{% load staticfiles %}

{% block page_header %}
    Online reputation for {{ entity }}
{% endblock %}

{% block datepicker %}
    {% if Dimension %}
    <form action="{% url 'twitter_services:tweets_filtered_entity_dimension' entity Dimension %}" method="post">
    {% else %}
    <form action="{% url 'twitter_services:tweets_filtered_entity' entity %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form }}
{#        <span class="input-group-addon add-on"><span class="glyphicon glyphicon-calendar"></span></span>#}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}

{% block script %}
    <script type="text/javascript" src="{% static 'js/datepicker.js' %}"></script>
{% endblock %}