{% extends 'tweet_base_display.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'twitter_services/tweet_base_display.css' %}" />

{% block page_header %}
    Online reputation for {{ entity }}
{% endblock %}

{% block datepicker %}
    {% if Dimension %}
    <form action="{% url 'twitter_services:tweets_filtered_entity_dimension' entity Dimension %}" method="post">
    {% else %}
    <form action="{% url 'twitter_services:tweets_filtered_entity' entity %}" method="post">
    {% endif %}
        {% csrf_token %}
        {{ form }}
        <input type="submit" value="Submit" />
    </form>
{% endblock %}