body {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.score_line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.base_line {
    fill: none;
    stroke: red;
    stroke-width: 1.5px;
}

.chart {
    font-family: Arial, sans-serif;
    font-size: 10px;
}

rect {
    shape-rendering: crispEdges;
}

rect.positive {
    fill: steelblue;
}

rect.negative {
    fill: darkred;
}