ul {
    text-align: center;
    display: inline-block;
    position: relative;
}

.header-container{
	text-align: center;
}

.nav-bar-container{
    text-align: center;
}

.map-container{
    width: 950px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
}

.tweet {
	overflow: auto;
	border: dashed 1px #656565;
	margin-bottom: 10px;
}

.tweet-container {
	height:550px;
    width: 950px;
	overflow-y: scroll;
	padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
}

.avatar {
	border-style: solid;
	border-width: 1px;
	border-color: #656565;
	width: 100px;
	height: 100px;
	float: left;
	margin-top: 8px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 8px;
}