ul {
    text-align: center;
    display: inline-block;
    position: relative;
}

.header-container {
	text-align: center;
}

.nav-bar-container {
    text-align: center;
}

.main-content {
    display: inline-block;
}

.map-container {
    width: 500px;
    height: 500px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1%;
}

.container-title {
    margin-top: 1%;
}


.tweet-container {
	height:550px;
    width: 500px;
	overflow-y: scroll;
    margin-top: 1%;
    margin-left: auto;
    margin-right: auto;
}

#topic-cloud {
    width: 1000px;
    height: 300px;
}

.topic-cloud-container {
}

span:not(span[class="carvet"]) {
    display: block;
}