{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    {# Bootstrap CSS thingy #}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"
          integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static "css/main_template.css" %}">

    <script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"
            integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS"
            crossorigin="anonymous"></script>
    <script src="http://d3js.org/d3.v3.min.js" charset="utf-8"></script>

    <title>{% block title %}{% endblock %}</title>

    {% block more-head %}{% endblock %}
</head>

<body>
    <div class="container">
        <div class="header clearfix">
            <nav>
                <ul class="nav nav-pills pull-right">

                    {% if not user.is_authenticated %}
                        <li role="presentation"><a href="{% url 'MainPage' %}">Home</a></li>
                    {% else %}
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false"> {{ request.user.username }}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="{% url 'user_handle:MessageInbox' %}">Inbox</a></li>
                                <li><a href="{% url 'user_handle:Index' %}">Account</a></li>
                                <li><a href="{% url 'user_handle:Logout' %}">Logout</a></li>
                            </ul>
                        </li>

                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                {% if entity %} {{ entity }} {% else %} View Tweets {% endif %}<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for interest in interest_list %}
                                    <li>
                                        <a href="{% url 'twitter_services:tweets_filtered_entity' interest %}">{{ interest }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        </li>
                    {% endif %}

                    <li role="presentation"><a href="{% url 'About' %}">About</a></li>
                </ul>
            </nav>
            <img src="{% static 'img/twitter-icon.png' %}" class="twitter-icon">
            <h3 class="text-muted">Twitter Reputation Monitor</h3>
        </div>

        {% block content %}{% endblock %}

      <footer class="footer">
        <p>&copy; 2015-2016 School of Computing Science, the University of Glasgow, UK</p>
      </footer>

    </div> <!-- /container -->
</body>

</html>

