<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'twitter_services/style_base.css' %}" />
<script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>

<head>
    <meta charset="UTF-8">
    {% block Title %}{% endblock %}
</head>

<body>
    <div id="user"></div>

    <script>
        {% if user.is_authenticated %}
            document.getElementById('user').innerHTML = '{{ request.user.username }}'
            {#   Create a logout button and append it  #}
            var button = document.createElement('input')
            button.type = 'button'
            button.value = 'logout'
            button.onclick = function(){
                window.location.href = '{% url 'user_handle:Logout' %}';
            };
            document.getElementById('user').appendChild(button)
        {% else %}
            $.ajax({
                url: '/user_handle/login/',
                success: function(data){
                    $('#user').html(data)
                }
            });
        {% endif %}

    </script>

    <header>
        {% block Header %}{% endblock %}
        <div id="logo"></div>

        <ul>
            <li class='active'><a href='{% url 'user_handle:Index' request.user.username %}'><span>Home</span></a></li>
            {% for dimension in dimension_list %}
                    <li><a href='{% url 'twitter_services:tweets_filtered_entity_dimension' entity dimension %}'>
                        <span>{{ dimension }}</span></a></li>
            {% endfor %}
        </ul>
    </header>

    {% block Sub-header %}{% endblock %}

    <!-- The default main content block is set to display list of tweets -->
    {% block Main-content %}
        <div class="tweet-container">
            {% if tweets %}
                    {% for tweet in tweets %}
                        <div class="tweet" id="tweet_{{ forloop.counter }}">
                            <img class="avatar" id="avatar_{{ forloop.counter }}" src="" height="100" width="100">
                            <h4 id="user_screen_name_{{ forloop.counter }}"></h4>
                            <h5 id="created_at_{{ forloop.counter }}"></h5>
                            <h5 id="dimension_{{ forloop.counter }}">{{tweet.tweet}}</h5>
                            <h5 id="sentiment_score_{{ forloop.counter }}"></h5>
                            <div id="text_{{ forloop.counter }}"></div>
                        </div>

                        <script>
                            var tweet = {{tweet|safe}};
                            document.getElementById("avatar_{{ forloop.counter }}")
                                    .setAttribute('src', tweet['user']['profile_image_url']);
                            document.getElementById("text_{{ forloop.counter }}")
                                    .innerHTML = tweet['text'];

                            var created_at = tweet['created_at'];
                            document.getElementById("created_at_{{ forloop.counter }}")
                                    .innerHTML = created_at.substring(0, created_at.indexOf('+'))
                                    + created_at.substring(created_at.indexOf('+') + 6, created_at.length);

                            document.getElementById("user_screen_name_{{ forloop.counter }}")
                                    .innerHTML = tweet['user']['screen_name'];

                            document.getElementById("dimension_{{ forloop.counter }}")
                                    .innerHTML = tweet['reputation_dimension'];

                            sentiment_score = tweet['sentiment_score']
                            document.getElementById("sentiment_score_{{ forloop.counter }}")
                                    .innerHTML = sentiment_score;

                            positive_weight = parseInt(sentiment_score.split("-")[0])
                            negative_weight = parseInt(sentiment_score.split("-")[1])

                            if (positive_weight > 2){
                                document.getElementById("tweet_{{ forloop.counter }}").style.color = "Green"
                            }

                            if (negative_weight > 2){
                                document.getElementById("tweet_{{ forloop.counter }}").style.color = "Red"
                            }

                        </script>
                    {% endfor %}
            {% else %}
                <p>No tweets are available</p>
            {% endif %}
        </div>
    {% endblock %}
</body>

</html>