<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'twitter_services/style_base.css' %}" />

<head>
    <meta charset="UTF-8">
    {% block Title %}{% endblock %}
</head>

<body>
    <header>
        {% block Header %}{% endblock %}
        <div id="logo"></div>
        <ul id='naviMenu'>
            <li class='active'><a href='{% url 'twitter_services:main' %}'><span>Home</span></a></li>
            {% if entities_list %}
                {% for entity in entities_list %}
                    <li><a href='{% url 'twitter_services:tweets_filtered_entity' entity %}'>{{ entity }}</a></li>
                {% endfor %}
            {% endif %}
         </ul>
    </header>

    {% block Sub-header %}{% endblock %}

    <!-- The default main content block is set to display list of tweets -->
    {% block Main-content %}
        <div class="tweet-container">
            {% if tweets %}
                    {% for tweet in tweets %}
                        <div class="tweet">
                            <img class="avatar" id="avatar_{{ forloop.counter }}" src="" height="100" width="100">
                            <h4 id="user_screen_name_{{ forloop.counter }}"></h4>
                            <h5 id="created_at_{{ forloop.counter }}"></h5>
                            <h5 id="dimension_{{ forloop.counter }}">{{tweet.tweet}}</h5>
                            <div id="text_{{ forloop.counter }}"></div>
                        </div>

                        <script>
                            var tweet = {{tweet|safe}};
                            document.getElementById("avatar_{{ forloop.counter }}")
                                    .setAttribute('src', tweet['user']['profile_image_url']);
                            document.getElementById("text_{{ forloop.counter }}")
                                    .innerHTML = tweet['text'];

                            var created_at = tweet['created_at'];
                            document.getElementById("created_at_{{ forloop.counter }}")
                                    .innerHTML = created_at.substring(0, created_at.indexOf('+'));

                            document.getElementById("user_screen_name_{{ forloop.counter }}")
                                    .innerHTML = tweet['user']['screen_name'];

                            document.getElementById("dimension_{{ forloop.counter }}")
                                    .innerHTML = tweet['reputation_dimension'];
                        </script>
                    {% endfor %}
            {% else %}
                <p>No tweets are available</p>
            {% endif %}
        </div>
    {% endblock %}


</body>

</html>