<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'twitter_services/style_base.css' %}" />
<script src="http://maps.googleapis.com/maps/api/js?key=AIzaSyAeJXCDj23rq4d2JVi7xHkVt7Wtgr-dh0M"></script>
<script src="{% static 'js/maps/markerclusterer.js' %}" type="text/javascript"></script>
<script src="{% static 'js/maps/maps.js' %}"></script>
<script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>

<head>
    <meta charset="UTF-8">
    {% block Title %}{% endblock %}
</head>

<body>
    <div id="user"></div>

    <script type="text/javascript" id="user">
        {% if user.is_authenticated %}
            document.getElementById('user').innerHTML = '{{ request.user.username }}'
            {#   Create a logout button and append it  #}
            var button = document.createElement('input')
            button.type = 'button'
            button.value = 'logout'
            button.onclick = function(){
                window.location.href = '{% url 'user_handle:Logout' %}';
            };
            document.getElementById('user').appendChild(button)
        {% else %}
            $.ajax({
                url: '/user_handle/login/',
                success: function(data){
                    $('#user').html(data)
                }
            });
        {% endif %}
    </script>

    <header>
        {% block Header %}{% endblock %}
        <div id="logo"></div>
        <ul>
            <li class='active'><a href='{% url 'user_handle:Index' %}'><span>Home</span></a></li>
            {% for dimension in dimension_list %}
                    <li><a href='{% url 'twitter_services:tweets_filtered_entity_dimension' entity dimension %}'>
                        <span>{{ dimension }}</span></a></li>
            {% endfor %}
        </ul>
    </header>

    {% block Sub-header %}{% endblock %}

    <!-- The default main content block is set to display list of tweets -->
    {% block Main-content %}
        <div class="main-content">
            <div class="map-container" id="map-container"></div>
            <div class="tweet-container">
                {% if tweets %}
                        {% for tweet in tweets %}
                            <div class="tweet" id="tweet_{{ tweet.id_str }}">
                                <img class="avatar"
                                    id="avatar_{{ tweet.id_str }}"
                                    src="{{ tweet.user.profile_image_url }}"
                                    height="100" width="100">
                                <h4 id="user_screen_name_{{ tweet.id_str }}">{{ tweet_user_screen_name }}</h4>
                                <h5 id="created_at_{{ tweet.id_str }}"></h5>
                                <h5 id="dimension_{{ tweet.id_str }}">{{tweet.reputation_dimension}}</h5>
                                <h5 id="sentiment_score_{{ tweet.id_str }}">{{ tweet.sentiment_score }}</h5>
                                <div id="text_{{ tweet.id_str }}">{{ tweet.text }}</div>
                            </div>

                            <script>
                                var created_at = '{{ tweet.created_at }}';
                                document.getElementById("created_at_{{ tweet.id_str }}")
                                        .innerHTML = created_at.substring(0, created_at.indexOf('+')) +
                                                     created_at.substring(created_at.indexOf('+') + 6, created_at.length);

                                sentiment_score = '{{ tweet.sentiment_score }}'

                                positive_weight = parseInt(sentiment_score.split("-")[0])
                                negative_weight = parseInt(sentiment_score.split("-")[1])

                                if (positive_weight > 2){
                                    document.getElementById("tweet_{{ tweet.id_str }}").style.color = "Green"
                                }

                                if (negative_weight > 2){
                                    document.getElementById("tweet_{{ tweet.id_str }}").style.color = "Red"
                                }
                            </script>
                        {% endfor %}
                {% else %}
                    <p>No tweets are available</p>
                {% endif %}
            </div>
        </div>
    {% endblock %}
</body>

<script type="text/javascript" id="map">
    var latitudes = {{ latitudes }};
    var longitudes = {{ longitudes }};
    init_map(latitudes, longitudes);
</script>

</html>