<div id="subscribed" class="row">
    <h4>Subscribed</h4>
    <ul>
        {% for entity in interest_list %}
            <span id="delete" class="span4">{{ entity }}</span>
        {% endfor %}
    </ul>
</div>

<div id="remaining" class="row">
    <h4>Remaining</h4>
    <ul>
        {% for entity in remaining_entities %}
            <span id="add" class="span4">{{ entity }}</span>
        {% endfor %}
    </ul>
</div>

{# Make it prettier #}
<form action="{% url 'user_handle:Interests' %}" method="post">
    {% csrf_token %}
    {{ form }}
    <input type="submit" name="add" value="add" />
    <input type="submit" name="remove" value="remove" />
</form>


<script>
    document.getElementById('id_username').value = '{{ request.user.username }}'
</script>