<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        {# Make it prettier #}
        <form action="{% url 'user_handle:Interests' %}" method="post">
            {% csrf_token %}
            {{ form }}
            <input type="submit" name="add" value="add" />
            <input type="submit" name="remove" value="remove" />
        </form>
    </body>
</html>

<script>
    document.getElementById('id_username').value = '{{ request.user.username }}'
</script>