<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>Title</title>
    </head>

    <body>
        {# Make it prettier #}
        <form action="{% url 'user_handle:ManageInterests' 'add' %}" method="post">
            {% csrf_token %}
            {{ form_add }}
            <input type="submit" value="Add" />
        </form>

        <form action="{% url 'user_handle:ManageInterests' 'remove' %}" method="post">
            {% csrf_token %}
            {{ form_delete }}
            <input type="submit" value="Remove" />
        </form>

</body>
</html>

<script>
    document.getElementById('id_username').value = '{{ request.user.username }}'
</script>