<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}

<head>
    <meta charset="UTF-8">
    <title>{{ request.user.username }} message inbox</title>
</head>

<body>
    <div id="user_inbox"></div>
        <ul>
        {% for message in messages %}
            <li>
                <a href="{% url 'user_handle:Message' message.id %}">
                    {{ message.created_at }} {{ message.entity }}: {{ message.reputation_dimension }}</a>
            </li>
        {% endfor %}
        </ul>
    </div>
</body>
</html>