<!DOCTYPE html>
<html lang="en">
{% load staticfiles %}
<script src="{% static 'js/jquery-1.12.0.min.js' %}"></script>

<head>
    <meta charset="UTF-8">
    <title>{{ username }}</title>
</head>

<body>

    <div id="user_index">
        {% for entity in entity_list %}
            <a href="/twitter_services/entity/{{ entity }}">{{ entity }}</a>
        {% endfor %}

        <div id="entitiy_manager"></div>
        <div id="inbox"></div>
    </div>

</body>
</html>

<script>
    $.ajax({
        url: '/user_handle/{{ username }}/inbox/',
        success: function(data){
            $('#inbox').html(data);
        },
    });

    $.ajax({
        url: '/user_handle/{{ username }}/interest',
        success: function(data){
            $('#entitiy_manager').html(data)
        },
    });
</script>