{% extends 'main_template.html' %}
{% load staticfiles %}

{% block title %} Twitter Reputation Monitor: {{ request.user.username }} {% endblock %}

{% block more-head %}
    <link rel="stylesheet" href="{% static 'user_handle/css/user_index.css' %}">
    <link rel="stylesheet" href="{% static 'user_handle/css/manage_interest.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    <script type='text/javascript' src="//code.jquery.com/ui/1.10.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script type='text/javascript' src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.1/angular.min.js"></script>
    <script src="{% static 'user_handle/js/manage_interest.js' %}"></script>
    <script src="{% static 'js/graphs/graphs.js' %}"></script>
{% endblock %}

{% block content %}

    <input id="csrf_token" type="hidden" value="{{ csrf_token }}"/>
    <div id="user_index">
        <div id="entity-manager-container">
            <div class="container" ng-app="myApp" ng-controller="tagsCtrl">
                <div class="row">
                    <div class="col-md-10 col-md-offset-1">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3><i class="fa fa-tag fa-lg"></i>Manage your entities:</h3>
                            </div>
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-12">
                                        <tag-manager tags="tags" autocomplete="allTags"></tag-manager>
                                    </div>
                                </div>
                            </div><!--/panel-body-->
                        </div>
                    </div>
                </div><!--/row-->
            </div><!--/container-->
        </div>

        <div id="graphs-container" class="panel panel-default">
            <div class="panel-heading">
                <h3 class="text-center">Reputation Statistics</h3>
            </div>
            <div id="selectors-container" class="panel-body">
                <select class="selectpicker" id="entity-picker" onchange="init_graph()">
                    {% for entity in entity_list %}
                        <option value="{{ entity }}">{{ entity }}</option>
                    {% endfor %}
                </select>

                <select class="selectpicker" id="dimension-picker" onchange="init_graph()">
                    <option value="All">All</option>
                    {% for dimension in dimension_list %}
                        <option value="{{ dimension }}">{{ dimension }}</option>
                    {% endfor %}
                </select>

                <select class="selectpicker" id="graph-picker" onchange="init_graph()">
                    <option value="line">Reputation Score</option>
                    <option value="bar">Tweet Count</option>
                </select>
            </div>

            <div id="graph-container"></div>
        </div>
    </div>

    <script type="text/javascript">
        tag_manager_setup({{ interest_list_jsonify | safe }});
        init_graph();
    </script>

{% endblock %}