{% extends 'register_login_template.html' %}
{% load staticfiles %}


{% block title %} Login {% endblock %}

{% block content %}
    <link rel="stylesheet" href="{% static 'user_handle/css/register_login.css' %}">

    {% block form %}
        <form id="user_register" action="{% url 'user_handle:Login' %}" class="form-login-register" method="post">
            <h2 class="form-login-heading text-center">Please log in</h2>
            {% csrf_token %}
            {{ form }}

            <div class="pagination-centered text-center btn-group-lg" id="button-group">
                <button class="btn btn-primary" type="submit">Login</button>
                <button class="btn btn-primary"
                        onclick="window.location.href='{% url 'MainPage' %}'"
                        type="button">Cancel</button>
            </div>
        </form>
    {% endblock %}

{% endblock %}