{% extends 'tweet_base_display.html' %}
{% load staticfiles %}

<link rel="stylesheet" type="text/css" href="{% static 'twitter_services/tweet_base_display.css' %}" />

{% block title %}
    Reputation Issue Alert: {{ message.created_at }}
{% endblock %}

{% block page_header %}
    Potential reputation issue for {{ message.entity }}'s {{ message.reputation_dimension }}
    <h4>{{ message.created_at }}</h4>
{% endblock %}

<h4>{{ message.created_at }}:</h4>

{% block topic_str %}
    {{ message.topic_str }}
{% endblock %}

{% block tweet-display-title %}
    Related tweets
{% endblock %}